

.encabezado {
    background: #e9ecef;
    border-radius: 30px;
    margin: 19px;
    text-align: center;
    padding: 10px;
}

.image {
    border: 1px solid #e9ecef;
    width: 100%;
    border-radius: 20px;
    margin: auto;
}